@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="Pessoas">Este link deveria redirecionar para Pessoas/Index</a><br>
    <a href="Pessoas/Create">Este link deveria redirecionar para Pessoas/Create</a><br>
    <a href="Pessoas/Edit">Este link deveria redirecionar para Pessoas/Edit</a><br>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
